@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Regular.woff2) format("woff2"),
       url(../font/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Bold.woff2) format("woff2"),
       url(../font/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: bold;
}



* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

ul {
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

li {
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

label {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
}

.header {
  background-color: #635854;
  padding: 12px 80px;
  border-bottom: 4px solid #3596F5;

}

.container {
  width: 1460px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 80px; */
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-right: 80px;
  padding: 0px 16px;
  text-align: center;
}

.nav-link {
  line-height: 19px;
}

.contacts {
  text-align: right;
}

.contact-link {
  font-size: 18px;
  font-weight: bold;
}